<ion-header>
	<app-toolbar [page]="this">
		<ion-button (click)="closeOrder()" title="Chốt tiệc" *ngIf="pageConfig.canCloseOrder && id">
			<ion-icon slot="icon-only" name="bag-check-outline"></ion-icon>
		</ion-button>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="order-detail-page" style="position: absolute"></div>
	<div id="ng-select-header" style="position: absolute; z-index: 30005"></div>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Order' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<!-- <div class="c-control" *ngIf="item.Id">
							<label class="c-label" for="Id"># Id</label>
							<input class="c-input" id="Id" formControlName="Id" type="number" />
						</div> -->

						<app-form-control [clearable]="true" [field]="{id: 'Id', label: 'Id', type: 'span-text',form: formGroup}"></app-form-control>

						<app-form-control
							[field]="{id: 'IDAddress', label: 'Customer', type: 'ng-select-bp', form: formGroup, dataSource: _contactDataSource, bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search for name, code or phone number', clearable: true, appendTo: '#ng-select-header' }"
							(change)="changedIDAddress($event)"
						></app-form-control>

						<app-form-control [field]="{id: 'OriginalTotalAfterTax', label: 'Total amount', type: 'span-number', form: formGroup}"> </app-form-control>

						<app-form-control
							*ngIf="item.OriginalTotalAfterDiscountFromSalesman != item.OriginalTotalAfterDiscount"
							[field]="{id: 'OriginalTotalAfterDiscountFromSalesman', label: 'Total amount paid', type: 'number', form: formGroup}"
						>
						</app-form-control>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control [field]="{id: 'OrderDate', label: 'Order created date', type: 'span-datetime',form: formGroup}"></app-form-control>

						<app-form-control [field]="{id: 'ProductWeight', label: 'Weight', type: 'number', form: formGroup,suffix:' kg'}"> </app-form-control>

						<app-form-control [field]="{id: 'ProductDimensions', label: 'Volume', type: 'number', form: formGroup,suffix:' cm³'}"> </app-form-control>

						<div class="c-control ion-text-right">
							<ion-button
								size="small"
								[disabled]="!(pageConfig.canEdit || (this.pageConfig.canChangeTypeOfReviewOrder && this.item.Status == 'Submitted')) || submitAttempt"
								(click)="item.IsSampleOrder = !item.IsSampleOrder; changedSampleOrder()"
								[fill]=" item.IsSampleOrder? 'solid' : 'outline' "
							>
								{{'Sample' | translate}}
							</ion-button>
							<ion-button
								size="small"
								[disabled]="!(pageConfig.canEdit || (this.pageConfig.canChangeTypeOfReviewOrder && this.item.Status == 'Submitted')) || submitAttempt"
								(click)="item.IsUrgentOrders = !item.IsUrgentOrders;  changeUrgent(); "
								[fill]=" item.IsUrgentOrders? 'solid' : 'outline' "
							>
								{{'Urgent order' | translate}}
							</ion-button>
							<ion-button
								size="small"
								[disabled]="!(pageConfig.canEdit || (this.pageConfig.canChangeTypeOfReviewOrder && this.item.Status == 'Submitted')) || submitAttempt"
								(click)="item.IsWholeSale = !item.IsWholeSale; changeWholesale();"
								[fill]=" item.IsWholeSale? 'solid' : 'outline' "
							>
								{{'Wholesale customer' | translate}}
							</ion-button>
							<ion-button
								size="small"
								[disabled]="!(pageConfig.canEdit || (this.pageConfig.canChangeTypeOfReviewOrder && this.item.Status == 'Submitted'))|| submitAttempt"
								(click)="item.IsShipBySaleMan = !item.IsShipBySaleMan; changeCoverage()"
								[fill]=" item.IsShipBySaleMan? 'solid' : 'outline' "
								color="blue"
							>
								{{'Coverage' | translate}}
							</ion-button>
						</div>
					</ion-col>
				</ion-row>

				<!-- <ion-row class="hr-group">
                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                        <ion-list-header class="ion-no-padding">
                            <ion-label color="primary">{{'item-information-title' | translate}}</ion-label>
                        </ion-list-header>
                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        

                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        
                    </ion-col>
                </ion-row> -->
			</form>
		</ion-grid>

		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'Product list' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Promotion/ applied discount' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s3">
						<ion-label>{{'Other information' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-toolbar>

			<div>
				<div *ngIf="segmentView == 's1'">
					<div class="table-contain">
						<app-data-table [rows]="formGroup.get('OrderLines')['controls']" [showSpinner]="pageConfig.showSpinner">
							<datatable-empty-message subMessage="Please click add new to start...">
								<ng-template datatable-empty-message-template>
									<div>
										<ion-button *ngIf="pageConfig.canEdit && item.Id" size="small" (click)="addOrderLine({})">
											<ion-icon slot="start" name="add-circle-outline"></ion-icon>
											{{ 'Add product' | translate }}
										</ion-button>
									</div>
								</ng-template>
							</datatable-empty-message>

							<datatable-column class="col-id" name="No." property="#"></datatable-column>
							<datatable-column class="col-name item-name" name="Items" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control
										[field]="{
											id: 'IDItem',
											label: 'Item',
											type: 'ng-select-item',
									form: g,
									dataSource: g.get('_IDItemDataSource').value,
									bindValue: 'Id',
									bindLabel: 'Name',
									clearable: true,
									placeholder: 'Type to search...',
									appendTo: '#ng-select-header',
										}"
										(change)="IDItemChange($event, g)"
									></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column class="col-code" name="Unit" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control
										[field]="{
											id: 'IDUoM',
											type: 'ng-select',
											form: g,
											dataSource: g.controls._IDUoMDataSource.value,
											bindLabel: 'Name',
											bindValue: 'Id',
											appendTo: '#ng-select-header',
										}"
										(change)="IDUoMChange(g)"
									></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column class="col-number" name="Quantity" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control (change)="IDUoMChange(g)" [field]="{ id: 'Quantity', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column *ngIf="pageConfig.canUseDiscountFromVendor" class="col-discount" name="Discount 1" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control [field]="{ id: 'OriginalDiscount1', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column *ngIf="pageConfig.canUseDiscountFromDistributor" class="col-discount" name="Discount 2" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control [field]="{ id: 'OriginalDiscount2', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column *ngIf="pageConfig.canUseDiscountFromSalesman" [checkbox]="true" class="col-promotion" name="Promotion goods" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control (change)="changeIsPromotion(g)" [field]="{ id: 'IsPromotionItem', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column class="col-discount" name="Discount/product" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control [field]="{ id: 'OriginalDiscountByItem', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column class="col-discount" name="Discount by group" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control [field]="{ id: 'OriginalDiscountByGroup', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>
							<datatable-column class="col-discount" name="Discount by line" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control [field]="{ id: 'OriginalDiscountByLine', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>
							<datatable-column class="col-discount" name="Discount by order" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control [field]="{ id: 'OriginalDiscountByOrder', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column class="col-number" name="Unit price" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control [field]="{ id: 'UoMPrice', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column class="col-total" name="Amount" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control [field]="{ id: 'OriginalTotalAfterDiscount', type: 'span-number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column *ngIf="pageConfig.canUseDiscountFromSalesman" class="col-total" name="Discount from saleman" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control (change)="changedItemUoM(g)" [field]="{ id: 'OriginalDiscountFromSalesman', type: 'number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column *ngIf="pageConfig.canUseDiscountFromSalesman" class="col-total" name="Unit price (before discount from salesman)" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control (change)="changedSalesmanPrice(g)" [field]="{ id: 'SalesmanPrice', type: 'number', form: g } "></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column *ngIf="pageConfig.canUseDiscountFromSalesman" class="col-total" name="Customers payable" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control
										(change)="changedOriginalTotalAfterDiscountFromSalesman(g)"
										[field]="{ id: 'OriginalTotalAfterDiscountFromSalesman', type: 'number', form: g }"
									></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column class="col-price" name="Tax rate" property="value">
								<ng-template let-g="row" datatable-cell-template>
									<app-input-control [field]="{ id: 'TaxRate', type: 'span-number', form: g }"></app-input-control>
								</ng-template>
							</datatable-column>

							<datatable-column class="col-icon" name="" property="value" *ngIf="pageConfig.canEdit">
								<ng-template let-g="row" datatable-cell-template>
									<ion-icon color="danger" class="min-btn clickable" name="trash-outline" (click)="deleteOrderLine(g)"></ion-icon>
								</ng-template>
							</datatable-column>
						</app-data-table>
					</div>
					<div class="ion-padding" *ngIf="pageConfig.canEdit">
						<ion-button fill="clear" size="small" (click)="addOrderLineForm({})">
							<ion-icon slot="start" name="add-circle-outline"></ion-icon>
							{{ 'Add product' | translate }}
						</ion-button>
					</div>
				</div>
				<div *ngIf="segmentView == 's2'"></div>

				<div *ngIf="segmentView == 's3'">
					<div class="ion-padding">
						<ion-grid fixed>
							<form [formGroup]="formGroup">
								<ion-row class="hr-group">
									<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
										<ion-list-header class="ion-no-padding">
											<ion-label color="primary">{{'Order information' | translate}}</ion-label>
										</ion-list-header>
									</ion-col>
									<ion-col size="12" size-sm size-xl="4">
										<app-form-control [field]="{id:'Code', label: 'Code', type : 'text', form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control [field]="{id:'Name', label: 'Name', type : 'text', form : formGroup }" (change)="saveChange()"></app-form-control>
										<app-form-control
											[field]="{id:'TaxCode', label: 'Invoice required', type : 'select', dataSource: TaxCodeDataSource, bindLabel: 'CompanyName', bindValue: 'TaxCode', form : formGroup }"
											(change)="saveChange()"
										></app-form-control>

										<app-form-control
											[field]="{id:'Status', label: 'Order Status', type : 'ng-select', dataSource: statusList, bindLabel: 'Name', bindValue: 'Code', form : formGroup }"
											(change)="saveChange()"
										></app-form-control>

										<app-form-control
											[field]="{id:'Type', label: 'Type', type : 'ng-select', dataSource: typeList, bindLabel: 'Name', bindValue: 'Code', form : formGroup }"
											(change)="saveChange()"
										></app-form-control>

										<app-form-control
											[field]="{id:'SubType', label: 'Sub type', type : 'ng-select', dataSource: subTypeList, bindLabel: 'Name', bindValue: 'Code', form : formGroup }"
											(change)="saveChange()"
										></app-form-control>
									</ion-col>
									<ion-col size="12" size-sm size-xl="4">
										<app-form-control
											*ngIf="item.Id"
											[field]="{id:'ExpectedDeliveryDate', label: 'Expected delivery date', type : 'datetime-local', form : formGroup }"
											(change)="saveChange()"
										></app-form-control>

										<app-form-control
											*ngIf="item.IDOwner"
											[field]="{id:'IDOwner', label: 'Sales staff', type : 'ng-select-staff', dataSource: _staffDataSource, bindLabel: 'FullName', bindValue: 'Id',  form : formGroup }"
											(change)="saveChange()"
										></app-form-control>

										<div class="c-control">
											<label class="c-label" for="IDOpportunity"
												>{{'Opportunity' | translate}}
												<span
													*ngIf="!formGroup.controls.IDOpportunity.valid && !formGroup.controls.IDOpportunity.pending && (formGroup.controls.IDOpportunity.dirty || submitAttempt)"
													ion-text
													color="danger"
													>(*)</span
												>
											</label>
											<select class="c-input c-dropdown" formControlName="IDOpportunity">
												<option [value]="1">Opportunity 1</option>
											</select>
										</div>

										<div class="c-control">
											<label class="c-label" for="IDContract"
												>{{'Contract' | translate}}
												<span
													*ngIf="!formGroup.controls.IDContract.valid && !formGroup.controls.IDContract.pending && (formGroup.controls.IDContract.dirty || submitAttempt)"
													ion-text
													color="danger"
													>(*)</span
												>
											</label>
											<select class="c-input c-dropdown" formControlName="IDContract">
												<option [value]="1">Contract 1</option>
											</select>
										</div>

										<app-form-control
											*ngIf="item.IDOwner"
											[field]="{id:'PaymentMethod', label: 'Payment method', type : 'ng-select', dataSource: paymentMethodList, bindLabel: 'Name', bindValue: 'Code',  form : formGroup }"
											(change)="saveChange()"
										></app-form-control>
									</ion-col>
								</ion-row>
							</form>
							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'delivery information' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<div class="c-control">
										<label class="c-label">{{'Bill No.' | translate}} </label>
										<input readonly class="c-input" [(ngModel)]="billOfLanding.Code" [ngModelOptions]="{standalone: true}" type="text" />
									</div>
									<div class="c-control">
										<label class="c-label">{{'Route' | translate}} </label>
										<input readonly class="c-input" [(ngModel)]="billOfLanding.Route" [ngModelOptions]="{standalone: true}" type="text" />
									</div>

									<div class="c-control">
										<label class="c-label">{{'Shipper' | translate}} </label>
										<input readonly class="c-input" [(ngModel)]="billOfLanding.Route" [ngModelOptions]="{standalone: true}" type="text" />
									</div>
									<div class="c-control">
										<label class="c-label">{{'License plate' | translate}} </label>
										<input readonly class="c-input" [(ngModel)]="billOfLanding.VehicleNumber" [ngModelOptions]="{standalone: true}" type="text" />
									</div>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<div class="c-control">
										<label class="c-label">{{'Expected delivery date' | translate}} </label>
										<input readonly class="c-input" [(ngModel)]="billOfLanding.Route" [ngModelOptions]="{standalone: true}" type="text" />
									</div>
									<div class="c-control">
										<label class="c-label">{{'Delivery date' | translate}} </label>
										<input readonly class="c-input" [(ngModel)]="billOfLanding.ShippedDate" [ngModelOptions]="{standalone: true}" type="text" />
									</div>
									<div class="c-control">
										<label class="c-label">{{'Address' | translate}} </label>
										<textarea
											readonly
											class="c-input"
											[(ngModel)]="billOfLanding.ShippingAddress"
											[ngModelOptions]="{standalone: true}"
											type="textarea"
										></textarea>
									</div>
									<!-- <div class="c-control">
                                        <label class="c-label">{{'shipping-address-remark' | translate}}</label>
                                        <textarea readonly class="c-input" [(ngModel)]="billOfLanding.ShippingAddressRemark" [ngModelOptions]="{standalone: true}" type="textarea"></textarea>
                                    </div> -->
								</ion-col>
							</ion-row>
							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'Documents / debts' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<app-form-control [field]="{id: 'OriginalTotalAfterTax', label: 'Total', type: 'span-number', form: formGroup,suffix:' ₫'}"> </app-form-control>

							
									<app-form-control [field]="{id: 'Received', label: 'Received', type: 'span-number', form: formGroup,suffix:' ₫'}"> </app-form-control>

									<app-form-control [field]="{id: 'Debt', label: 'Remaining debt', type: 'span-number', form: formGroup,suffix:' ₫'}"> </app-form-control>

									<!-- IsDebt bit Unchecked -->
									<!-- IsPaymentReceived bit Unchecked -->
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<app-form-control [field]="{id: 'InvoiceNumber', label: 'Invoice', type: 'span-text', form: formGroup}"> </app-form-control>
									<app-form-control [field]="{id: 'InvoiceDate', label: 'Invoice date', type: 'span-datetime', form: formGroup}"> </app-form-control>
									<app-form-control [field]="{id: 'TaxRate', label: 'Tax', type: 'span-number', form: formGroup}"> </app-form-control>
								</ion-col>
							</ion-row>

							<!-- Other information -->
							<ion-row class="hr-group" *ngIf="item.Id">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'Other information' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<app-form-control [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
									<app-form-control [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
									<app-form-control [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
									<app-form-control [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<app-form-control
										[field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"
									></app-form-control>
									<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
								</ion-col>
							</ion-row>
						</ion-grid>
					</div>
				</div>

				<div *ngIf="segmentView == 's4'"></div>

				<div *ngIf="segmentView == 's5'"></div>

				<div *ngIf="segmentView == 's6'"></div>
			</div>
		</div>
	</div>

	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
