<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-data-table
		class="box-shadow responsive"
		*ngIf="items"
		[rows]="items"
		[(selectedRows)]="selectedItems"
		(dataInfinite)="loadData($event)"
		[(query)]="query"
		(filter)="onDatatableFilter($event)"
		(sort)="onSort($event)"
		[showFilter]="pageConfig.isShowSearch"
		[showSpinner]="pageConfig.showSpinner"
	>
		<datatable-column class="col-id" name="ID item" property="ItemId">
			<ng-template let-i="row" datatable-cell-template>
				<a [routerLink]="['/item/'+i?.ItemId]">{{i?.ItemId}}</a>
				<small label class="hide-desktop">{{i?.ItemCode}}</small>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-name" name="Item name" property="ItemName">
			<ng-template let-i="row" datatable-cell-template>
				<a style="color: var(--ion-color-dark)" [routerLink]="['/item/'+i?.ItemId]"
					><span [ngClass]="{'bold': !i.UoMs.length==0}">{{i.ItemName}}</span>
					<p class="ion-no-margin hideSmall" *ngIf="isShowBranch">{{i?.BranchName}}</p>
				</a>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-name hide-desktop" name="Warehouse" property="IDBranch">
			<ng-template let-i="row" datatable-cell-template> {{i?.BranchName}} </ng-template>
		</datatable-column>

		<datatable-column class="col-name" name="Quantity" property="ItemId" [canFilter]="false" [canSort]="false">
			<ng-template let-i="row" datatable-cell-template>
				<ng-container *ngFor="let uom of i.UoMs; let j = index">
					<app-format-quantity [quantity]="i.CloseQuantity" [splitQuantityList]="i.UoMs"></app-format-quantity>
					<!-- <span class="hide-desktop" *ngIf="j==0">{{'Inventory'|translate}}:&nbsp;</span>
					<span *ngIf="j != 0">&nbsp;+&nbsp;</span> <span>{{uom?.Quantity | number}} {{uom?.UoMName}} </span> -->
					<!-- <span class="hideSmall">{{i.UoM?.Name}}</span> -->
				</ng-container>
				<span *ngIf="i.UoMs.length==0">{{'Out of stocks'| translate}}</span>
			</ng-template>
		</datatable-column>
		<datatable-column class="col-name" name="Price" property="ItemId" [canFilter]="false" [canSort]="false">
			<ng-template let-i="row" datatable-cell-template>
				<ng-container *ngFor="let uom of i.UoMs;let j = index">
					<div *ngIf="uom.Price != null" class="smallDanger" [ngStyle]="{'font-weight':uom.Quantity >0? 'bold':''}">
						<span *ngIf="j != 0 && i.UoMs[j-1].Price">&nbsp;-&nbsp;</span>
						<span>{{uom.Price | number}}<small label *ngIf="uom.UoMName">/{{uom.UoMName}}</small></span>
					</div>
					<!-- <span class="hideSmall">{{uom.Price | number}}</span> -->
				</ng-container>
			</ng-template>
		</datatable-column>
		<!-- 
    <datatable-column class="col-name" name="Warehouse" property="WarehouseName">
		  <ng-template let-i="row" datatable-cell-template>
			{{i.WarehouseName}}
			<small class="address" *ngIf="i.WarehouseCode">
			  <ion-text color="dark">{{i.WarehouseCode}}</ion-text>
			</small>
		  </ng-template>
		</datatable-column> -->
	</app-data-table>
</ion-content>
