<ion-header>
  <app-toolbar [page]="this">
    <ion-button
      tollbarSelected
      title="{{ 'Confirm' | translate }}"
      *ngIf="pageConfig.ShowConfirm"
      (click)="confirmSaleQuotation()"
    >
      <ion-icon color="success" slot="icon-only" name="receipt-outline"></ion-icon>
    </ion-button>
  </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
  <app-data-table
    style="width: fit-content; min-width: calc(100% - 32px)"
    class="box-shadow responsive"
    [rows]="items"
    [trackBy]="'Id'"
    [(selectedRows)]="selectedItems"
    [showSpinner]="pageConfig.showSpinner"
    [showFilter]="pageConfig.isShowSearch"
    [(query)]="query"
    (dataInfinite)="loadData($event)"
    (filter)="onDatatableFilter($event)"
    (sort)="onSort($event)"
  >
    <datatable-column class="col-checkbox cell" [checkbox]="true" name="" property="Id">
      <ng-template datatable-filter-template></ng-template>
      <ng-template datatable-header-template> </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div class="col-checkbox cell">
          <input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox" />
        </div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-id cell" name="#" property="Id">
      <ng-template datatable-header-template>
        <div class="col-id cell" (click)="sortToggle('Id')">
          {{'Id' | translate}}
          <ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
          <ion-icon
            class="min-btn"
            (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
            *ngIf="query.Id"
            name="search"
            color="primary"
          ></ion-icon>
        </div>
      </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div (click)="nav('sale-quotation/'+i.Id,'forward')" class="col-id cell">{{i.Id}}</div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-name cell" name="" property="Id">
      <ng-template datatable-header-template>
        <div class="col-code cell">{{'Branch' | translate}}</div>
      </ng-template>

      <ng-template let-i="row" datatable-cell-template>
        <div *ngIf="i._BranchName" class="col-code cell">{{i._BranchName | translate}}</div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-name cell" name="Business partner" property="Id">
      <ng-template let-i="row" datatable-cell-template>
        <div *ngIf="i._BusinessPartnerName" class="col-staff cell">{{i._BusinessPartnerName}}</div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-date cell" name="" property="RequiredDate">
      <ng-template datatable-filter-template>
        <input
          class="c-input"
          type="date"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="query.RequiredDate"
          (change)="refresh()"
        />
      </ng-template>
      <ng-template datatable-header-template>
        <div class="col-date cell" (click)="sortToggle('RequiredDate')">
          {{'Required date' | translate}}
          <ion-icon
            class="min-btn"
            *ngIf="sort.RequiredDate"
            [name]="sort.RequiredDate == 'RequiredDate'?'arrow-down': 'arrow-up'"
          ></ion-icon>
          <ion-icon
            class="min-btn"
            (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
            *ngIf="query.RequiredDate"
            name="search"
            color="primary"
          ></ion-icon>
        </div>
      </ng-template>

      <ng-template let-i="row" datatable-cell-template>
        <div *ngIf="i.RequiredDate" class="col-date cell" (click)="nav('sale-quotation/'+i.Id,'forward')">
          {{i.RequiredDate | date :'dd/MM/yyyy'}}
          <small>{{i.RequiredDate | date:'hh:mm'}}</small>
        </div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-status cell" name="" property="Status">
      <ng-template datatable-filter-template>
        <select
          (change)="refresh()"
          class="c-input c-dropdown"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="query.Status"
          [ngClass]="{active: query.Status}"
        >
          <option value="">{{'All' | translate}}</option>
          <option disabled value="">----------</option>
          <option *ngFor="let t of statusList" [value]="t.Code">{{t.Name}}</option>
        </select>
      </ng-template>
      <ng-template datatable-header-template>
        <div class="col-status cell" (click)="sortToggle('Status')">
          {{'Status' | translate}}
          <ion-icon class="min-btn" *ngIf="sort.Status" [name]="sort.Status == 'Status'?'arrow-down': 'arrow-up'">
          </ion-icon>
          <ion-icon
            class="min-btn"
            (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
            *ngIf="query.Status"
            name="search"
            color="primary"
          ></ion-icon>
        </div>
      </ng-template>

      <ng-template let-i="row" datatable-cell-template>
        <span class="bar-holder">
          <ion-text class="bar-title" [color]="i.StatusColor">{{i.StatusText | translate}}</ion-text>
          <span
            class="bar"
            [ngClass]="{active: s.Code==i.Status}"
            [ngStyle]="{'background-color': 'var(--ion-color-'+s.Color+')'}"
            *ngFor="let s of statusList"
            [title]="s.Name | translate"
          ></span>
        </span>
      </ng-template>
    </datatable-column>
  </app-data-table>
</ion-content>
